<div class="container">
    <div class="promocoes">
        <section>
            <select name="opcoes-da-semana">
                <option value="promocoes">Promoções da semana</option>
                <option value="precinho">No preçinho</option>
            </select>
        </section>
        <div class="produtos">

            <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
        <div class="itens">
            <img src="assets/image/pizza-header.png" alt="">
            <div class="descricao">

                <p>leleleoeoeoeoodklkjbd</p>
            <div class="valor">
                <p>30,00</p>
            </div>
        </div>
        </div>
    </div>
</div>
