.container{
  width: 100%;
  height: 20vh;
  display: flex;
  z-index: 1;
  justify-content: center;
  background: var(--laranja);

}

.informacoes-header{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
}

.logo img{
  width: 150px;
}

.onde-nos-encontrar{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
}

.redes-sociais{
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* tamanho das imagens(redes sociais) */

#whatsapp{
  height: 50px;
}
#instagram{
  height: 50px;
}
#facebook{
  height: 45px;

}

.header-principal{
  background-color: bisque;
  width: 90%;
  z-index: 2;
  bottom: 0;
  position: absolute;
}