.container{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  background: var(--laranja);

}

.informacoes-header{
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img{
  width: 150px;
}

.onde-nos-encontrar{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cinza);
  border-radius: 5px;
}

.redes-sociais{
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* tamanho das imagens(redes sociais) */

#whatsapp{
  height: 50px;
}
#instagram{
  height: 50px;
}
#facebook{
  height: 45px;

}
.links-navegacao {
  display: flex; /* Ativa o Flexbox */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  flex-wrap: wrap; /* Permite que os itens passem para a próxima linha, se necessário */
  gap: 20px; /* Espaçamento entre os itens */
  padding: 20px 0; /* Espaçamento superior e inferior */
}
