<div class="container">
  <div class="informacoes">
   <img src="assets/image/pizza-header.png" alt="" id="logo">

   <h1>Pizzaria Senía</h1>

   <div class="onde-nos-encontrar">

      <div class="redes-sociais">

        <img id="whatsapp" src="assets/image/whatsapp.png" alt="Imagem WhatsApp." />
        <img id="instagram" src="assets/image/instagram.png" alt="Imagem Instagram." />
        <img id="facebook" src="assets/image/facebook.png" alt="Imagem FaceBook." />


      </div>

      <div class="horarios-funcionamento">

        <p>Seg á Sab: 17h ás 03:00</p>
      </div>

    </div>
  </div>

    <div class="links-navegacao">
      <ul>
        <li><a href="/">Inicío</a></li>
        <li><a href="#">Mais informações</a></li>
        <li><a href="/cardapio">Realizar pedido</a></li>
        <li><a href="">Meu pedido</a></li>
        <li><a href="#">Sair</a></li>
      </ul>
    </div>
</div>
