.container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visualizar-pedido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualizar-pedido h1{

font-size: 35pt;
}

.finalizar-pedido {
  width: 50%;
  height: 100%;
  background-color: var(--laranjaClaro);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0pc 5rem 5rem 0pc;
}

.pedido {
  width: 70%;
  height: 30vh;
  display: flex;
flex-direction: column;
  border-radius: 5px;
  background-color: var(--branco);
  overflow-y: scroll;
}

.itens{
    width: 80%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--cinza);
    margin: 0 auto 1% auto; /*top, right, bottm, left*/
}
.animacoes {
  width: 50%;
}

.confirmar-pedido {
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}
#btn-confirmar-pedido {
  width: 60%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  color: var(--branco);
  background-color: var(--verde);
  cursor: pointer;
  margin-right: 10px;
}
#btn-cancelar-pedido {
  width: 60%;
  height: 3rem;
  border: none;
  border-radius: 5px;
  color: var(--branco);
  background-color: var(--vermelhoClaro);
  cursor: pointer;
}
