<div class="container">

<div class="escopo">
    <h1>Informações</h1>
    <div class="voltar">
        <a href="/home">Voltar</a>
    </div>
</div>

<div class="informacoes">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo, similique rem excepturi tempore sapiente, placeat ab ea maiores dolores odit error deserunt commodi numquam facere, eveniet doloribus esse unde natus!</p>
</div>

<div class="copyright">
    <p>&copy;Pizaria Senía</p>
</div>
</div>