<div class="container">

  <!-- formulário -->
    <form [formGroup]="formCliente" (ngSubmit)="onSubmit($event)">

        <label for="email-login">Email</label>
        <input type="email" formControlName="email" id="email-login" placeholder="Digite seu e-mail...">

        <label for="senha-login">Senha</label>
        <input type="password" formControlName="senha" id="senha-login" placeholder="Digite sua senha...">

        <!-- o botão precisa ser do tipo submit para que o ngSubmit seja ativado   -->
        <input id="btn-login" type="submit" value="Logar">
    </form>

</div>

<!-- gerenciamento de telas para visualizar o pedido por cima -->
