.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container {
  width: 70%;
  height: 60%;
  display: flex;
flex-direction: column;
  align-items: center;
}
form {
  width: 50%;
  height: 70%;
  background-color: var(--laranja);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  outline: 0;
  border-radius: 3px;
  border: solid 1px var(--preto);
  transition: 0.3s all ease-in-out;
}

input:focus {
  border: 1px solid var(--amarelo);
}

#btn-cadastrar-me {
  margin-top: 5%;
  height: 10%;
  background-color: var(--amarelo);
  border: none;
  cursor: pointer;
}
/* COLOCAR CLASS */