
    <div class="container">
      <div class="tarefas">
        <h1>Minhas Terefas</h1>

        <div *ngFor="let tarefa of tarefas" class="lista-tarefas">
          <h3>{{ tarefa?.nome }}</h3>
          <p>{{tarefa?.observacoes}}</p>
        </div>
      </div>

      <div *ngIf="mostrar" class="adicionar-tarefa">
        
        <input type="text"  name="nome" [(ngModel)]="nome" placeholder="Nome da tarefa..." >
        <input type="text" name="observacoes" [(ngModel)]="observacoes" placeholder="Observações...">
        <button (click)="adicionarTarefa()">Confirmar</button>
      </div>

      <div class="configuracoes">
        <div class="barra-pesquisa">
          <input type="text" placeholder="Busca tarefa..." />
          <img
            src="assets/image/lupa-pesquisa.png"
            alt="Icone da barra de pesquisa"
          />

          <div class="nova-tarefa">
            <button (click)="mostrarDivNovaTarefa()">+</button>
          </div> 
        </div>
        
        <div class="observacoes">
            <p>{{"Nada para mostrar..."}}</p>
        </div>
        <div class="acoes-tarefas">
          <div class="concluir">
            <p>Concluir</p>
          </div>
          <div class="excluir">
            <p>Excluir</p>
          </div>
          <div class="editar">
            <p>Editar</p>
          </div>
        </div>
      </div>
    </div>

