<footer>
  <div class="loja-fisica">
    <img src="assets/image/localizacao.png" alt="Imagem da localização" />
    <a
      href="https://maps.app.goo.gl/mo9JG6ZcAXgeHbrKA"
      target="_blank"
      rel="noopener noreferrer"
      >Rua Armélio Franco,229, Av São José</a
    >
  </div>

  <div class="avaliacoes">
    <p>Avaliar</p>

    <ul class="avaliacao">
      <li class="estrela-icone ativo" data-avaliacao="1"></li>
      <li class="estrela-icone" data-avaliacao="2"></li>
      <li class="estrela-icone" data-avaliacao="3"></li>
      <li class="estrela-icone" data-avaliacao="4"></li>
      <li class="estrela-icone" data-avaliacao="5"></li>
    </ul>
  </div>
</footer>
