<footer>
  <!-- endereço -->
  <div class="loja-fisica">
    <img src="assets/image/localizacao.png" alt="Imagem da localização" />
    <a
      href="https://maps.app.goo.gl/mo9JG6ZcAXgeHbrKA"
      target="_blank"
      rel="noopener noreferrer"
      >Rua Armélio Franco,229, Av São José</a
    >
  </div>

  <!-- avaliações -->
  <div class="container-avaliacoes">
    <div class="avaliacoes">
      <p>Avaliar</p>

      <ul class="avaliacao">
        <li
          *ngFor="let estrela of estrelas; let i = index"
          class="estrela-icone"
          [class.ativo]="i === avaliacaoSelecionada"
          (click)="getAvaliacao(i)"
        ></li>
        <!-- a classe so vai ser ativa onde atender os requisitos -->
      </ul>
    </div>

    <!-- avaliação por escito -->
    <div class="feedback">
      <a href="#"
        ><img
          src="assets/image/feedback.png"
          alt="Imagem representando um chat."
        />Deixar meu FeddBack</a
      >
    </div>
  </div>
</footer>
