<div class="container">
  <div class="filtro-cardapio">
    <div class="opcoes">
      <div class="comidas">
        <button id="btn-comidas">Comidas</button>
      </div>

      <div class="bebidas">
        <button id="btn-bebidas">Bebidas</button>
      </div>
    </div>
  </div>

    <div class="container-produtos">

        <div class="produto" *ngFor="let produto of [1]">

            <div class="img">
                <img src="assets/image/pizza-header.png" alt="">
            </div>

            <div class="nome-produto">
                <p>pizaaaaaa</p>
            </div>

            <div class="descricao-produto">
<p>kjdkgKJFGLKGFK</p>
                <div class="sub-total">
                    <p>R$0,11</p>
                </div>
            </div>

            <div class="adicionar-ao-carrinho">

                    <div class="quantidades">
                        <button id="btn-adicionar-qntd" (click)="pedidoService.addQuantidade()">+</button>

                        <span id="quantidade-produto">{{pedidoService.quantidade}}</span>

                        <button id="btn-remover-qntd" (click)="pedidoService.removerQuantidade()" [disabled]="pedidoService.quantidade < 1">-</button>
                    </div>

                <button id="btn-add-carrinho" type="submit">Add</button>
            </div>

