<div class="container">
  <div class="filtro-cardapio">
    <div class="opcoes">
      <div class="comidas">
        <button id="btn-comidas">Comidas</button>
      </div>

      <div class="bebidas">
        <button id="btn-bebidas">Bebidas</button>
      </div>
    </div>
  </div>
  <div class="container-produtos">
    <div class="produto" *ngFor="let produto of [1]">
      <div class="img">
        <img src="assets/image/pizza-header.png" alt="" />
      </div>

      <div class="nome-produto">
        <p>pizaaaaaa</p>
      </div>

      <div class="descricao-produto">
        <p>kjdkgKJFGLKGFK</p>
        <div class="sub-total">
          <p formControlName="sub-total">R$0,11</p>
        </div>
      </div>

      <div class="adicionar-pedido">
        <div class="quantidades">
          <button type="button">+</button>

          <span></span>

          <button type="button">-</button>
        </div>

        <button id="btn-add-pedido" type="submit">Add</button>
      </div>
    </div>
  </div>
</div>
