.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.elevadores{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.elevador-l1{
    width: 20%;
    height: 20%;
    background-color: rgb(76, 76, 76);
}